.accordion {
    max-width: 620px;

    &__panel {
        display: none;

        margin: 32px 0 48px 48px;

        @media (max-width: $sm) {
            margin: 25px 0 25px;
        }

        &.active {
            display: block;
        }
    }

    &__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4;
        color: $secondary;
    }

    .btn--accordion {
        margin-bottom: 48px;
        white-space: normal;
    }
}
