.card {
    display: flex;
    flex-direction: column;

    &--types {
        max-width: 317px;
        padding: 0 0 32px 40px;

        background-color: $additional;

        box-shadow: 0 0 0 1px #3945dc;
        overflow: hidden;

        &:hover {
            .card__image::after {
                background-color: transparent;
            }

            .card__icon {
                transform: translate(8px);
            }
        }
        .card__image {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                inset: 0;
                z-index: 1;

                background-color: rgba($additional, 0.9);

                transition: 0.3s linear;
            }

            img {
                display: block;
                max-width: 100%;
            }
        }
        .card__title {
            margin-bottom: 16px;

            font-size: 18px;
            font-weight: 700;
            line-height: 1.4;
            color: $primary;
        }

        .card__icon {
            width: fit-content;

            transition: 0.3s linear;
        }
    }

    &--advantages {
        display: flex;

        // min-height: 206px;

        color: $secondary;

        .card__image {
            margin-bottom: 24px;
        }

        .card__title {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 16px;
            flex: 1 0 0;
        }

        .card__text {
            font-size: 16px;
            font-weight: 400;

            flex: 1 0 0;
        }
    }

    &--assortment {
        position: relative;

        width: 317px;
        min-height: 218px;
        padding: 106px 101px 24px 40px;

        background-color: $primary;

        box-shadow: 0 0 0 1px rgba(#000, 10%);

        &:nth-child(1) {
            grid-column: 1;
            grid-row: 1;
        }

        &:nth-child(2) {
            grid-column: 2;
            grid-row: 1;
        }
        &:nth-child(3) {
            grid-column: 3;
            grid-row: 1;
        }
        &:nth-child(4) {
            grid-column: 4;
            grid-row: 1;
        }
        &:nth-child(5) {
            grid-column: 2;
            grid-row: 2;
        }
        &:nth-child(6) {
            grid-column: 3;
            grid-row: 2;
        }
        &:nth-child(7) {
            grid-column: 4;
            grid-row: 2;
        }
        &:nth-child(8) {
            grid-column: 2;
            grid-row: 3;
        }
        &:nth-child(9) {
            grid-column: 3;
            grid-row: 3;
        }

        &:hover {
            .card__dropdown {
                opacity: 1;
                min-height: 432px;
            }
        }

        .card__title {
            margin-bottom: 14px;

            font-size: 18px;
            font-weight: 700;
            line-height: 1.4;
        }

        .card__icon {
            width: fit-content;
        }

        .card__dropdown {
            position: absolute;
            inset: 0;
            z-index: 1;

            padding: 106px 40px 10px;

            opacity: 0;

            max-height: 218px;
            // height: 634px;

            background-color: $additional;

            pointer-events: none;

            transition: opacity 0.1s linear, min-height 0.3s linear;

            .card__image {
                position: absolute;
                top: 0;
                right: 0;
            }

            .card__title {
                margin-bottom: 14px;

                font-size: 18px;
                font-weight: 700;
                line-height: 1.4;
                color: $primary;
            }

            .card__icon {
                margin-bottom: 34px;
            }

            .card__text {
                font-size: 16px;
                font-weight: 400;
                line-height: 1.4;
                color: $primary;
            }
        }
    }

    // card text block
    &__text-block {
        grid-row: 2/4;
        grid-column: 4;

        padding: 41px;

        color: $primary;
        line-height: 1.4;

        background-color: $secondary;

        box-shadow: 0 0 0 1px $secondary;
    }
    &__text-block-title {
        margin-bottom: 24px;

        font-weight: 700;
        font-size: 18px;
    }
    &__text-block-text {
        font-size: 16px;
        font-weight: 400;
    }
}
