.section {
    &--types {
        margin-bottom: -138px;

        transform: translateY(-234px);

        overflow: hidden;

        @media (max-width: $xlg) {
            transform: translateY(-150px);
            margin-bottom: -50px;
        }

        @media (max-width: $sm) {
            transform: translateY(0);
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .section__header {
            display: flex;
            flex-direction: column;

            max-width: 577px;

            margin-bottom: 40px;
            color: $primary;

            @media (max-width: $sm) {
                color: $secondary;
            }
        }

        .section__title {
            margin-bottom: 16px;

            font-size: 32px;
            font-weight: 700;
        }

        .section__subtitle {
            font-weight: 400;
            font-size: 20px;
            line-height: 1.4;
        }

        .section__content {
            position: relative;

            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: auto;
            gap: 1px;

            @media (max-width: $md) {
                grid-template-columns: repeat(3, 1fr);
            }

            @media (max-width: $sm) {
                grid-template-columns: repeat(2, 1fr);
            }

            .decor {
                position: absolute;

                display: block;
                max-width: 100%;
                height: auto;

                @media (max-width: $xlg) {
                    display: none;
                }

                &--right {
                    top: 0;
                    right: -326px;
                }

                &--left {
                    left: -326px;
                    bottom: 0;
                }
            }
        }
    }

    &--advantages {
        padding-bottom: 180px;

        // bgi set bottom
        background-repeat: no-repeat;
        background-position: left 0;
        background-size: contain;

        @media (max-width: $xlg) {
            background: none;
        }

        .section__header {
            margin-bottom: 67px;
        }

        .section__content {
            max-width: 908px;
            margin-left: 326px;

            display: grid;
            grid-template-columns: repeat(3, 260px);
            grid-auto-rows: auto;
            gap: 65px;

            @media (max-width: $xlg) {
                max-width: 100%;
                place-content: center;
                margin-left: 0;
            }

            @media (max-width: $lg) {
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
            }
        }
    }

    &--assortment {
        padding-bottom: 247px;

        overflow-x: hidden;

        .section__header {
            margin-bottom: 62px;
        }

        .section__content {
            position: relative;

            display: grid;
            grid-template-columns: repeat(4, 317px);
            grid-auto-rows: auto;
            gap: 1px;

            @media (max-width: $xlg) {
                place-content: center;
                grid-template-columns: repeat(3, 317px);
            }
            @media (max-width: $lg) {
                grid-template-columns: repeat(2, 317px);
            }
            @media (max-width: $md) {
                grid-template-columns: repeat(2, 1fr);
            }

            .decor {
                position: absolute;

                @media (max-width: $xlg) {
                    display: none;
                }

                &--left {
                    top: 0;
                    left: -326px;
                }
                &--right {
                    top: -218px;
                    right: -344px;
                }
                &--right-bottom {
                    bottom: -247px;
                    right: -332px;
                }
            }
        }
    }

    &--brands {
        transform: translateY(-150px);

        margin-bottom: -21px;

        .section__inner {
            overflow-x: hidden;
        }
        .section__header {
            max-width: 730px;
            margin-bottom: 48px;
        }

        .section__content {
            width: 2680px;
            height: 290px;
            overflow: hidden;

            background-repeat: repeat-x;

            animation: bg-slide-brands 30s linear infinite;

            // display: flex;
            // flex-direction: column;
            // gap: 24px;

            // font-size: 28px;
            // color: #87879d;

            // @media (max-width: $sm) {
            //     font-size: 20px;
            //     gap: 12px;
            // }

            // .row {
            //     display: flex;
            //     justify-content: space-between;
            //     flex-wrap: wrap;
            //     gap: 20px;

            //     @media (max-width: $sm) {
            //         gap: 12px !important;
            //     }

            //     &:last-child {
            //         gap: 55px;
            //         justify-content: flex-start;
            //     }
            // }

            // .black {
            //     font-weight: 900;
            // }
            // .regular {
            //     font-weight: 400;
            // }
            // .semi {
            //     font-weight: 600;
            // }
        }
    }

    &--spare-part {
        height: 800px;
        padding-top: 351px;

        background: $dark-grad;

        overflow-x: hidden;

        .section__header {
            max-width: 760px;
            color: $primary;
            margin-bottom: 80px;
        }

        .section__content {
            height: 80px;
            width: 7840px;
            overflow: hidden;
            background-repeat: repeat-x;

            animation: bg-slide 60s linear infinite;
        }
    }

    &--original-spare-parts {
        .section__inner {
            display: flex;
            flex-direction: row;

            @media (max-width: $lg) {
                flex-direction: column;
            }
        }

        .section__image {
            max-width: 1082px;

            img {
                max-width: 100%;
                display: block;
            }

            @media (max-width: $xlg) {
                max-width: 65%;
            }

            @media (max-width: $lg) {
                max-width: 100%;
            }
        }

        .section__header {
            max-width: 838px;
            width: 100%;
            height: 549px;
            padding: 48px 64px;

            color: $primary;

            background-color: $additional;

            @media (max-width: $xlg) {
                max-width: 35%;
                padding: 25px 30px;
                height: auto;
            }

            @media (max-width: $lg) {
                padding: 48px 64px;
                max-width: 100%;
            }
        }

        .section__header-icon {
            margin-bottom: 55px;

            @media (max-width: $xlg) {
                margin-bottom: 30px;
            }
        }

        .section__title,
        .section__subtitle {
            max-width: 384px;
        }

        .section__title {
            font-weight: 700;
            font-size: 40px;
            margin-bottom: 24px;

            @media (max-width: $xlg) {
                font-size: 32px;
            }

            @media (max-width: $sm) {
                font-size: 25px;
            }
        }
    }

    &--lead-manufacturers {
        .section__inner {
            display: flex;
            flex-direction: row;

            min-height: 656px;

            @media (max-width: $lg) {
                flex-direction: column;
            }
        }

        .section__image {
            img {
                display: block;
                width: 100%;
                max-width: 100%;
                height: auto;
            }
        }

        .section__header {
        }

        .section__title {
            margin-top: 104px;
            max-width: 441px;
        }

        .section__subtitle {
            max-width: 566px;
        }
    }

    &--possibilities {
        overflow-x: hidden;

        .section__top {
            display: flex;
            justify-content: center;

            min-height: 586px;

            margin-bottom: 50px;

            @media (max-width: $lg) {
                align-items: center;
            }

            @media (max-width: $md) {
                flex-direction: column;
                gap: 30px;
            }

            .section__image {
                max-width: 50%;

                @media (max-width: $sm) {
                    max-width: 100%;
                }

                img {
                    display: block;
                    width: 100%;
                    max-width: 100%;
                    height: auto;
                }
            }
        }

        .section__header {
            margin-top: 22px;

            margin-left: auto;

            .section__title,
            .section__subtitle {
                max-width: 620px;
            }
        }

        .section__subtitle {
            margin-bottom: 24px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .section__content {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            color: $primary;

            transform: translateY(-100px);

            @media (max-width: $lg) {
                flex-direction: column;

                align-items: flex-start;

                transform: translateY(0);

                margin-bottom: 100px;
            }

            .section__image {
                width: 100%;
                img {
                    display: block;
                    max-width: 100%;
                    width: 100%;
                    height: auto;
                }

                @media (max-width: $xlg) {
                    width: 60%;
                }

                @media (max-width: $lg) {
                    width: 100%;
                }
            }
        }

        .section__text-block {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 947px;

            @media (max-width: $xlg) {
                width: 40%;
            }

            @media (max-width: $lg) {
                width: 100%;
                max-width: 100%;
            }
        }

        .section__text-about {
            max-width: 947px;
            width: 100%;
            // height: 521px;

            padding: 80px 64px;
            background: $dark-grad;

            @media (max-width: $xlg) {
                padding: 30px;
            }

            @media (max-width: $lg) {
                max-width: 100%;
                padding: 80px 64px;
            }

            @media (max-width: $sm) {
                padding: 20px;
            }

            .section__text-about-title {
                max-width: 469px;

                font-size: 40px;
                font-weight: 700;
                margin-bottom: 19px;
                margin-top: 71px;

                @media (max-width: $xlg) {
                    margin-top: 30px;
                    font-size: 32px;
                }

                @media (max-width: $lg) {
                    font-size: 35px;
                    margin-top: 50px;
                }

                @media (max-width: $sm) {
                    font-size: 25px;
                }
            }

            .section__subtitle {
                max-width: 584px;
            }
        }

        .section__info-block {
            max-width: 648px;
            padding: 48px 64px;
            background-color: $additional;

            @media (max-width: $xlg) {
                padding: 30px;
            }

            @media (max-width: $lg) {
                max-width: 100%;
                padding: 48px 64px;
            }
            @media (max-width: $sm) {
                padding: 20px;
            }

            .section__subtitle {
                max-width: 443px;
            }

            .section__icon {
                margin-bottom: 26px;
            }
        }
    }

    &--faq {
        position: relative;

        min-height: 665px;

        background-repeat: no-repeat;
        background-position: right 0;

        // overflow-x: hidden;

        .section__inner {
            width: fit-content;
            height: 100%;
            padding: 20px;

            @media (max-width: $xlg) {
                background-color: rgba(255, 255, 255, 0.3);
                backdrop-filter: blur(10px);

                border-radius: 20px;
            }
        }
        .section__decor {
            position: absolute;
            bottom: -160px;

            @media (max-width: $xlg) {
                display: none;
            }
        }

        .section__title {
            margin-bottom: 64px;
        }
    }

    &--request {
        .section__bottom-block {
            position: absolute;
            bottom: -80px;
            left: 0;

            max-width: 814px;

            font-size: 16px;
            font-weight: 400;
            line-height: 1.4;
            color: rgba($primary, 30%);

            @media (max-width: $sm) {
                bottom: -100px;
                font-size: 15px;
                line-height: 1.2;
            }

            &::before {
                content: '';

                position: absolute;
                left: -104px;
                top: 10px;

                width: 80px;
                height: 1px;

                background-color: rgba($primary, 20%);
            }
        }

        .section__inner {
            position: relative;

            flex-direction: row;
            justify-content: space-between;
            gap: 20px;

            min-height: 446px;
            padding: 40px 64px 40px;

            color: $primary;

            background-color: $additional;
            box-shadow: 0px 14px 48px rgba(0, 0, 0, 0.4);

            @media (max-width: $md) {
                flex-direction: column;
            }

            @media (max-width: $sm) {
                padding: 20px;
            }
        }

        .section__image {
            position: absolute;
            bottom: 0;
            left: 286px;

            @media (max-width: $xlg) {
                display: none;
            }
        }

        .section__text-block {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .section__caption {
            max-width: 232px;
            margin: 9px 0 20px;

            font-size: 16px;
            font-weight: 400;
            line-height: 1.4;
            color: rgba($primary, 30%);
        }

        .section__header {
            max-width: 453px;
            color: $primary;
        }

        .section__title {
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 16px;
        }
    }

    &--request-1 {
        transform: translateY(171px);

        margin-top: -171px;
    }

    &--request-2 {
        margin-bottom: 132px;

        .section__bottom-block {
            color: rgba($secondary, 30%);

            &::before {
                background-color: rgba($secondary, 20%);
            }
        }
    }

    &__inner {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__header {
        max-width: 698px;

        color: $secondary;
    }

    &__title {
        margin-bottom: 28px;
        font-size: 48px;
        font-weight: 700;

        @media (max-width: $md) {
            font-size: 32px;
        }
    }

    &__subtitle {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4;
    }
}

@keyframes bg-slide {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(-3920px);
    }
}

@keyframes bg-slide-brands {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(-1340px);
    }
}

// webp support
.no-webp {
    .section--advantages {
        background-image: url('../img/section/advantages/bg.png');
        @media (max-width: $xlg) {
            background: none;
        }
    }

    .section--faq {
        background-image: url('../img/section/faq/bg.png');
    }

    .section--spare-part {
        .section__content {
            background-image: url('../img/section/spare-part/line.png');
        }
    }

    .section--brands {
        .section__content {
            background-image: url('../img/section/brands/bg.jpg');
        }
    }
}

.webp {
    .section--advantages {
        background-image: url('../img/section/advantages/bg.webp');
        @media (max-width: $xlg) {
            background: none;
        }
    }

    .section--faq {
        background-image: url('../img/section/faq/bg.webp');
    }

    .section--spare-part {
        .section__content {
            background-image: url('../img/section/spare-part/line.webp');
        }
    }
    .section--brands {
        .section__content {
            background-image: url('../img/section/brands/bg.webp');
        }
    }
}
