.section {
    &--types {
        max-height: 1084px;

        margin-bottom: 96px;

        transform: translateY(-234px);

        overflow: hidden;

        .section__header {
            display: flex;
            flex-direction: column;

            max-width: 577px;

            margin-bottom: 40px;
            color: $primary;
        }

        .section__title {
            margin-bottom: 16px;

            font-size: 32px;
            font-weight: 700;
        }

        .section__subtitle {
            font-weight: 400;
            font-size: 20px;
            line-height: 1.4;
        }

        .section__content {
            position: relative;

            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: auto;
            gap: 1px;

            .decor {
                position: absolute;

                display: block;
                max-width: 100%;
                height: auto;

                &--right {
                    top: 0;
                    right: -326px;
                }

                &--left {
                    left: -326px;
                    bottom: 0;
                }
            }
        }
    }

    &--advantages {
        max-height: 844px;
        padding-bottom: 180px;

        background: url('../img/section/advantages/bg.png') no-repeat;
        background-position: left 0;
        background-size: contain;

        .section__header {
            margin-bottom: 67px;
        }

        .section__content {
            max-width: 908px;
            margin-left: 326px;

            display: grid;
            grid-template-columns: repeat(3, 260px);
            grid-auto-rows: auto;
            gap: 65px;
        }
    }

    &--assortment {
        // height: 1120px;

        padding-bottom: 247px;

        overflow-x: hidden;

        .section__header {
            margin-bottom: 62px;
        }

        .section__content {
            position: relative;

            display: grid;
            grid-template-columns: repeat(4, 317px);
            grid-auto-rows: auto;
            gap: 1px;

            .decor {
                position: absolute;

                &--left {
                    top: 0;
                    left: -326px;
                }
                &--right {
                    top: -218px;
                    right: -344px;
                }
                &--right-bottom {
                    bottom: -247px;
                    right: -303px;
                }
            }
        }
    }

    &--brands {
        padding-bottom: 245px;

        transform: translateY(-150px);

        .section__header {
            max-width: 730px;
            margin-bottom: 48px;
        }

        .section__content {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 24px;

            font-size: 28px;
            color: #87879d;

            .row {
                display: flex;
                justify-content: space-between;

                &:last-child {
                    gap: 55px;
                    justify-content: flex-start;
                }
            }

            .black {
                font-weight: 900;
            }
            .regular {
                font-weight: 400;
            }
            .semi {
                font-weight: 600;
            }
        }
    }

    &__inner {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__header {
        max-width: 698px;

        color: $secondary;
    }

    &__title {
        margin-bottom: 28px;
        font-size: 48px;
        font-weight: 700;
    }

    &__subtitle {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4;
    }
}
