.showcase {
    background: $dark-grad;
    // max-height: 970px;

    overflow-x: hidden;

    &__inner {
        position: relative;

        display: flex;
        width: 100%;

        padding-top: 139px;
        padding-bottom: 150px;

        @media (max-width: $xlg) {
            padding: 139px 60px 150px;
        }

        @media (max-width: $sm) {
            padding: 139px 0 50px;
        }
    }

    &__mouse-decor {
        position: absolute;
        left: -110px;
        bottom: 70px;

        width: 24px;
        height: 120px;

        display: flex;

        @media (max-width: $xlg) {
            display: none;
        }

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            bottom: 0;

            display: block;
            width: 1px;
            height: 80px;

            background-color: $primary;
            opacity: 0.1;
        }
    }
}
