.showcase {
    background: $dark-grad;
    max-height: 970px;

    &__inner {
        position: relative;

        display: flex;
        width: 100%;

        padding-top: 139px;
        padding-bottom: 150px;
    }

    &__mouse-decor {
        position: absolute;
        left: -110px;
        bottom: 70px;

        width: 24px;
        height: 120px;

        display: flex;

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            bottom: 0;

            display: block;
            width: 1px;
            height: 80px;

            background-color: $primary;
            opacity: 0.1;
        }
    }
}
