.swiper {
}

.swiper-wrapper {
    max-width: 100%;
}

.swiper-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    cursor: pointer;

    @media (max-width: $sm) {
        display: none;
    }
}

.swiper-btn--prev {
    left: -112px;

    @media (max-width: $xlg) {
        left: 0;
    }
}

.swiper-btn--next {
    right: -112px;

    @media (max-width: $xlg) {
        right: 0;
    }

    .swiper-btn-icon {
        transform: rotate(180deg);
    }
}

.swiper-slide {
    display: flex;

    justify-content: space-between;
    align-items: center;

    padding-bottom: 37px;

    @media (max-width: $lg) {
        padding-top: 50px;
        flex-direction: column;
        gap: 30px;
    }

    &__text-block {
        max-width: 500px;
        color: $primary;

        @media (max-width: $lg) {
            max-width: 100%;
        }
    }

    &__title {
        margin-bottom: 24px;

        font-size: 48px;
        font-weight: 700;

        @media (max-width: $sm) {
            font-size: 35px;
        }
    }

    &__subtitle {
        font-size: 20px;
        font-weight: 400;
        line-height: 1.4;
    }

    &__image {
        max-height: 639px;

        img {
            display: block;
            max-width: 100%;
            width: 100%;
            height: auto;
        }

        @media (max-width: $lg) {
            max-width: 50%;
        }
    }
}

// pagination
.swiper-pagination {
    display: flex;
    justify-content: flex-end;
    gap: 32px;

    @media (max-width: $sm) {
        justify-content: center;
    }
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin: 0 !important;

    background-color: transparent;
    border: 1px solid $primary;
    opacity: 1;
    cursor: pointer;

    transition: 0.3s linear;

    &:hover {
        background-color: $primary;
    }
}

.swiper-pagination-bullet-active {
    background-color: $primary;
}
