<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <span class="footer__logo">ООО «ЕВРАЗИЯ ГРУПП»</span>

            <div class="footer__cols">
                <div class="footer__cols-item">
                    <span class="footer__cols-item-title">Юридический адрес:</span>
                    <address class="footer__cols-item-text">191186, г. Санкт-Петербург, набережная канала Грибоедова,
                        дом 5, лит Е,
                        помещение 14-Н, офис 305</address>
                </div>
                <div class="footer__cols-item">
                    <span class="footer__cols-item-title">Телефон:</span>
                    <a href="tel:+78122920085" class="footer__cols-item-text">+7 (812) 292 00 85</a>
                </div>
                <div class="footer__cols-item">
                    <span class="footer__cols-item-title">Почта:</span>
                    <a href="mailto:info@gk-eurasia.ru " class="footer__cols-item-text">info@gk-eurasia.ru </a>
                </div>
                <div class="footer__cols-item">
                    <span>ИНН 7841090693</span>
                    <span>КПП 784101001</span>
                    <span>ОГРН 1207800118723</span>
                </div>
            </div>
            <div class="footer__copy">2022 © Eurasia Group</div>
        </div>
    </div>
</footer>